<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
	bootstrap="phpunit-bootstrap.php" stopOnError="false" stopOnFailure="false"
	stopOnIncomplete="false" stopOnSkipped="false" stopOnRisky="false"
	verbose="false" colors="true">
	
	<!-- CONFIGURATION -->
	<php>
		<includePath>./tests/common</includePath>
		<var name="suitecrm_host" value="https://demo.suiteondemand.com" />
		<var name="suitecrm_username" value="will" />
		<var name="suitecrm_password" value="will" />	
	</php>
	
	<testsuites>
		<testsuite name="session">
			<file>tests/SessionTest.php</file>
		</testsuite>
		<testsuite name="auth">
			<file>tests/RestAuthenticationTest.php</file>
			<file>tests/SoapAuthenticationTest.php</file>
		</testsuite>
		<testsuite name="entry">
			<file>tests/RestEntryTest.php</file>
			<file>tests/SoapEntryTest.php</file>			
		</testsuite>
	</testsuites>
	
	<logging>
	
		<log type="coverage-html" target="./build/" lowUpperBound="35"
			highLowerBound="70" />
	</logging>
	
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
			<directory>src/</directory>
		</whitelist>
	</filter>
</phpunit>
